body { 

    background-image: url(Image/My\ Love.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p {color: white}
 table , th , td { border:1px solid black ; color: white; border-collapse:collapse ;
width:100%;}
th , td { padding:10px; text-align:left; border-bottom:2px solid red}
tr:hover{background-color: darkgreen;}
tr:nth-child(odd); tr:nth-child(even) {background-color: lightgrey;}
 
pre {
    background-color: lightcoral;
    width: 500px;
    margin: auto;
}

.cr7{
    background-color: greenyellow;
    color: white;
    padding: 20px;
    text-align: center;

}
h1{
    background-color: linen;
}
div{
    background-color: maroon;
}
p{
    background-color: rgba(5, 9, 248, 0.062);
}