.box{
    background-color: lightgray;
    border:15px solid tan;
    width: 300px;
    padding: 50px;
}
.pet{
    background-color: lightblue;
    border: 10px solid navy;
    width: 350px;
    height:100px;
    padding: 10px;

}