body{
    background-color: lightseagreen;
    color: black;
    font-family: 'Sofia', sans-serif;
}
.box{
    background-color: lightgray;
    border:15px solid tan;
    width: 300px;
    padding: 50px;
    overflow: scroll;
    text-align: justify;
}
.pet{
    background-color: lightblue;
    border: 10px solid navy;
    width: 350px;
    height:150px;
    padding: 20px;
}
.out{
    background-color:lightgreen;
    border: 5px solid lightsalmon;
    outline: 10px solid darkgreen;
    margin: auto;
    padding: 20px;
    text-align: center;
}
.pix1{
    background-color: lightpink;
    border: 5px solid deeppink;
    margin: 20px;
    outline:5px solid darkred;
    outline-offset: 15px;
    width: 150px;
    height: 100px;
    text-align: center;
    padding: 30px;
}
.pix2{
    background-color: lightcyan;
    border: 5px solid violet;
    margin: 10px;
    outline: 5px dashed blueviolet;
    outline-offset: 10px;
    width: 350px;
    height: 50px;
    text-align: center;
    padding: 20px;
}
.list1 ol{
    background-color: salmon;
    padding: 20px;
}
.list1 ol li{
    background-color: mistyrose;
    color: darkred;
    padding: 10px;
    margin-left: 20px;
}
.list2 ul{
    background-color: powderblue;
    padding: 20px;
}
.list2 ul li{
    background-color: mistyrose;
    color: darkblue;
    margin: 5px;
}

