.tablecontainer{
            overflow-x: auto;
       }

     .tablecontainer table {
          border-collapse: collapse;
          width: 100%;
        
        }

     .tablecontainer table, th, td{
           border: 1px solid lightseagreen;
           padding: 8px;
           text-align: left;
          
        }
        .tablecontainer th{
          background-color: #8a2be2;
        }
        .tablecontainer td{
          background-color: lightblue;
        }

        
        
