body {
    background-color: green;
}
p {
            background-color: azure;
            color: lightblue;
            font-family: Tahoma;
            font-size: 170%;
            border: 2px solid grey;
        }
        